{{!-- 

<ul>
    <li>{{#link-to "books.index"}}
          Fetch All the Books From Server{{/link-to}} 
          <p style="color:red">[Note: Won't work since there's no server.]</p>
    </li>

    <li>{{#link-to "books.new"}}
            Create a new book{{/link-to}}
    </li>
</ul><br><br><br> --}}

{{!-- {{profile-card name="Ravi Kumar" avatar="https://randomuser.me/api/portraits/thumb/lego/1.jpg" bio="Great artist"}} --}}
{{!-- {{profile-card name=model.name avatar=model.avatar bio=model.bio}} --}}
{{!-- 
 <p>{{my-btn}} </p>

 <b>Info:</b> <span id="info"> {{title}}</span>



<h4> Index view: Bubbling actions through components</h4> --}}

{{!-- {{pressCount}} Button presses
 {{button-wrapper action="buttonClick"}}
  {{comp-test action "pressMe"}} --}}
 {{!-- {{my-application}}  {{my-application}} 
 {{my-application}}  {{my-application}} {{my-application}} --}}
  {{!-- {{my-page}} --}}
  {{!-- {{form-page}} --}}
{{!-- 
  <div class="row">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<div class="new-question-box">
  {{new-question saveQuestion="saveQuestion"}}
</div>
{{outlet}} --}}


<h3>hbs</h3>
<div>
  <p>appName: {{input type="text" value=appName}}</p>
  <p>Triggers: didUpdateAttrs, didReceiveAttrs, willUpdate, willRender, 
      didUpdate, didRender</p>
</div>

<div>
  <p>data: {{input type="text" value=data}}</p>
  <p>Triggers: willUpdate, willRender, didUpdate, didRender</p>
</div>


<hr>

{{test-one name=appName data=data}}
